* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  cuerpo
  { font-family: sans-serif;
    background-color: chocolate ;
}
.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: antiquewhite;
    padding: 10px 20px;
  }
  .logo,
  .icono {
    width: 20px;
    height: 20px;
    background: cadetblue;
  }


