* {
    margin: 1;
    padding: 1;
    box-sizing: border-box;
  }
  body 
  { font-family: sans-serif;
    background-color: chocolate ;
}
.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: antiquewhite;
    padding: 15px 30px;
  }
  .logo,
  .icono {
    width: 20px;
    height: 20px;
    background: cadetblue;
  }
  .muesta {
    background: darkkhaki;
    display: flex;
    padding: 30px 10px;
    gap: 25px;
  }
  .imagenmuestra {
    width: 145px;
    height: 145px;
    background: darkorange;
  }
  .textomuestra {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }
  .titulo {
    width: 70%;
    height: 25px;
    background: darkgoldenrod;
  }
  .linea {
    width: 95%;
    height: 15px;
    background: rgb(255, 255, 255);
  }



  

